{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
{% endblock %}
{% block body %}
    <div class="wrapper">
<p style="text-align: center">Serwis ten stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne Przetwarzanie Informacji),
    przygotowanej pod kierunkiem dr. Piotra Śliwińskiego na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.
</p>
    </div>
{% endblock %}