{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/c_Mexico.css') }}">
{% endblock %}

{% block body %}
<div class="wrapper">
    <h1>Igrzyska Olimpijskie - Meksyk 1968 r.</h1>
    <div class="img_container">
    <img src="{{ asset('images/1024px-Opening_Ceremony_Mexico_72_University_Stadium.jpg') }}" alt="">
    </div>
    <p class="source">Źródło: Sergio V. Rodriguez, CC BY-SA 4.0 https://creativecommons.org/licenses/by-sa/4.0, via Wikimedia Commons</p>
    <p class="about_competition">Igrzyska w Meksyku nie były dobrym czasem dla sztafety naszych reprezentantek.
        Sztafeta została pozbawiona kluczowej zawodniczki – Ewy Kłobukowskiej.
        Ogłoszono również anulowanie wszystkich rekordów z udziałem tej zawodniczki.
        Wykreślono więc rekord świata sztafety z Tokio (43.6 s) z rejestru IAAF.
        Przyczyną była sprawa związana z podważeniem damskiej płci Ewy Kłobukowskiej.
        Sztafeta nie wchodzi do biegu finałowego, ponieważ na czwartej zmianie Irena Szewińska gubi pałeczkę i dobiega ostatnia z czasem 53.0 s.
        Pozytywnym aspektem tych zawodów jest zdobycie przez Szewińską brązowego medalu w biegu na 100 metrów oraz złotego medalu
        w biegu na 200 metrów.
    </p>


{#    <div class="bgimage_result">#}
{#        <div class="bgi">#}
            <p class="text_results">Wyniki finałowego biegu na 100 metrów </p>
            <div class="container_results">
                <div class="flex_container_result">
                    <i class="fas fa-medal"></i>
                    <p class="name">Wyomia Tyus(USA)</p>
                    <p class="result">11.07 s</p>
                </div>
                <div class="flex_container_result">
                    <i class="fas fa-medal"></i>
                    <p class="name">Barbara Ferell(USA)</p>
                    <p class="result">11.15 s</p>
                </div>
                <div class="flex_container_result">
                    <i class="fas fa-medal"></i>
                    <p class="name"><strong>Irena Szewińska</strong></p>
                    <p class="result"><strong>11.19 s</strong></p>
                </div>
            </div>

            <p class="text_results">Wyniki finałowego biegu na 200 metrów </p>
            <div class="container_results">
                <div class="flex_container_result">
                    <i class="fas fa-medal"></i>
                    <p class="name"><strong>Irena Szewińska</strong></p>
                    <p class="result"><strong>22.58 s</strong></p>
                </div>
{#            </div>#}
{#            <div class="container_results">#}
                <div class="flex_container_result">
                    <i class="fas fa-medal"></i>
                    <p class="name">Raelene Boyle(Australia)</p>
                    <p class="result">22.74 s</p>
                </div>
{#            </div>#}
{#            <div class="container_results">#}
                <div class="flex_container_result">
                    <i class="fas fa-medal"></i>
                    <p class="name">Jennifer Lamy(Australia)</p>
                    <p class="result">22.88 s</p>
{#                </div>#}
            </div>
{#        </div>#}
{#    </div>#}
</div>
{% endblock %}