{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/career.css') }}">
{% endblock %}

{% block body %}
<div class="wrapper">
<h1>Początek kariery</h1>
    <h2>Pierwsze sportowe kroki</h2>
    <div class="flex">

    <div class="item flex_item shadow_right">
        <div class="text">

        <p>Irena Szewisnka podczas biegu na 200m.</p>
        </div>
{#        <img src="{{ asset('images/achieve_Easy-Resize.com.jpg') }}" alt="">#}
    </div>
<p class="flex_item">Preferencje lekkoatletyczne Ireny Kirszenstein zostały zauważone dopiero w liceum.
    Talent do tej dyscypliny dostrzegła jej szkolna nauczycielka WF-u Liliana Bucholz-Onufrowicz.
    Pierwsze zawody Ireny Kirszenstein odbyły się w parku Agrykola. Wzięła tam udział w aż pieciu konkurencjach; był to bieg na 60 m, skok wzwyż, skok w dal,
    pchnięcie kulą oraz rzut dyskiem. Po tych zawodach trafiła do klubu Polonia Warszawa.
    Pierwszym trenerem przyszłej wielokrotnej rekordzistki świata stał się Jan Kopyto.
    Pierwszy sukces przyszedł wraz z zawodami na stadionie Gwardii. Była to inauguracja sezonu lekkoatletycznego w 1961 r.
</p> </div>
    <p>Do pierwszego miejsca w konkurencji skoku wzwyż wystarczyl skok na 1,50 m.
    Tak skomentowała po latach ten wynik Irena Szewińska: ,,Półtora metra to dzisiaj również śmieszna wysokość, nawet dla juniorki.
    Nie można jednak zapominać, że w owym czasie lekkoatletyka nie była jeszcze tak rozwinięta jak obecnie.”
{#    </p>#}
{#    </div>#}
{#    <p>#}
        Irena Kirszenstein skakala wtedy jeszcze stylem nożycowym.
    Styl jaki mamy dzisiaj obecnie – flop – pojawił się dopiero na igrzyskach olimpijskich w Meksyku w 1968 r.
    <p>Pod wodzą Jana Kopyty lekkoatletka osiągnęła sukcesy, takie jak: rekord Polski młodziczek w skoku wzwyż (1,58 m)
        i w skoku w dal (5,73 m), a także rekord w biegu na 100 metrów (11.9 s). Były to duże sukcesy zważając na fakt,
        że Irena Kirszenstein dopiero zaczynała swoją przygodę z lekkoatletyką.
    </p>
    <p>Irena Kirszenstein w kolejnym etapie swojej kariery trafiła do warszawskiej grupy szybkobiegaczek kadry narodowej,
        której trenerem był Andrzej Piotrowski. Pod jego nadzorem lekkoatletka osiągnęła poziom światowy w konkurencjach sprinterskich.
        W grupie trenowała również między innymi Ewa Kłobukowska. Irena Kirszenstein od razu nawiązała z nią bardzo dobry kontakt.
        Te dwie młode i utalentowane lekkoatletki stworzyły później znakomity duet, który został zapamiętany jako duet K-K.
    </p>

<h2>Niesamowity debiut - Tokio - 1964</h2>
    <p>Możliwość wzięcia udziału w zawodach najwyższej rangi przypadła Irenie Kirszenstein dosyć szybko.
        Stało się to w 1964 roku. Lekkoatletka miała wtedy zaledwie 18 lat.
        Był to wtedy dla niej czas dużych obowiązków, między innymi czas matur oraz egzaminów na studia.
        Pomimo tego Irena Kirszenstein uczęszczała na każdy trening prowadzony przez Andrzeja Piotrowskiego.
        Motywacja była ogromna, zbliżał się jej dotychczas najważniejszy występ w karierze. </p>
<p>
        Irena Kirszenstein na Igrzyskach Olimpijskich w Tokio wzięła udział w konkurencjach, takich jak: skok w dal, bieg na 200 m oraz sztafeta 4x100 m.
    </p>
    <h3>Skok w dal</h3>
    <p>Irena Kirszenstein jako pierwsza spośród kadry Polski rozpoczęła zmagania na igrzyskach.
        Jej inauguracyjną konkurencją był skok w dal. Zarówno trener, jak i zawodniczka spodziewali się maksymalnie miejsca w pierwszej szóstce. Byłby to i tak wspaniały wynik.
        Ta niesamowicie utalentowana lekkoatletka zrobiła jednak sporą niespodziankę. </p>
{#    </p>#}
{#    <p>#}<p>
        Finał skoku w dal, jak i każdej konkurencji lekkoatletycznej, poprzedzają tzw. eliminacje.
        Odbyły się one na mokrym rozbiegu, przy wietrznej pogodzie.
        W pierwszej próbie Irena Kirszenstein skacze „zaledwie” na odległość 5,80 m.
        Odległość, która zapewniała wtedy udział w serii finałowej wynosiła równe sześć metrów.
        Irena Kirszenstein osiągnęła to minimum w swojej drugiej próbie, skacząc na odległość 6,43 m.
        Pobiła wtedy własny rekord kraju. Lepsze odległości uzyskuje tylko Brytyjka Mary Bignal-Rand(6,52 m)
        oraz Niemka Helga Hoffmann(6,44 m). Irena Kirszenstein zakwalifikowała się więc do finału z trzecim rezultatem. </p>
{#    </p>#}
{#    <p>#}
    <p>
        Organizatorzy zdecydowali się zakwalifikować 18 zawodniczek do finału, z racji tego, że zbyt mała ilość osób osiągnęła minimum finałowe.
        Przez tak sporą ilość kandydatek finał trwał około 2 godzin. Zawody odbywały się przy wysokiej temperaturze.
        Te wszystkie czynniki nie przeszkadzały naszej lekkoatletce.
        W kolejnych próbach Irena Kirszenstein skacze na odległości: 5,68 m – 6,43 m - 6,56 m – 6,03 m.
        Z kolejnym skokiem ustanawia nowy rekord Polski – 6,60 m.
        Po drodze Irena Kirszenstein pali skok – to znaczy przekracza linię odbijającą – skacząc na odległość 6,80 m.
        Walka o złoto trwała do samego końca. Ostatecznie Irena Kirszenstein zajmuje drugie miejsce.
        Jest to jej olbrzymi sukces. Zdobywa swój pierwszy medal igrzysk olimpijskich.
        Było to dla niej wspaniałe rozpoczęcie tych wielkich zawodów.
    </p>
    <h3>Bieg na 200 metrów</h3>
    <div class="flex">

        <div class="item2 flex_item shadow_right">
            <div class="text">
                <p>Finał 200m - Tokio 1964r</p>
            </div>
{#            <div class="text2">#}
{#                <p>Irena Szewisnka podczas biegu na 200m.</p>#}
{#            </div>#}
{#                    <img src="{{ asset('images/achieve_Easy-Resize.com.jpg') }}" alt="">#}
        </div>

    <p class="flex_item">Eliminacje do finałowej serii Irena Kirszenstein przebiegła z wielkim spokojem.
        Uzyskała ona czas 23. 8 s, wyraźnie  zostawiając swoje rywalki  w tyle.
        W serii półfinałowej uzyskała czas 23.6 s, przybiegając na metę jako druga.
        W finale Irena Kirszenstein walczy zaciekle ze świetnie finiszującą Amerykanką Edith McGuire.
        Ostatecznie polska lekkoatletka wpada na metę jako druga wraz z Australijką Marilyn Black.
        Sędziowie uznają, że szybsza była Polka. Irena Kirszenstein zdobywa więc swój drugi medal Igrzysk Olimpijskich w Tokio.
    </p>

    </div>
    <h3>Sztafeta 4x100 metrów</h3>
{#    <div class="flex">#}

{#    <div class="item3 flex_item">#}
{#    </div>#}
    <p>Pretendentem do złotego medalu sztafety 4x100 m była drużyna Amerykanek.
        Półfinałowy bieg pokazał jednak, że Polki mają realne szanse wyprzedzić faworyta.
        Polska sztafeta w składzie: Teresa Ciepła, Irena Kirszenstein, Halina Górecka i Ewa Kłobukowska,
        w swojej serii półfinałowej uzyskała czas 44.6 s.
        Amerykanki w swojej serii przybiegły z czasem 44.8 s.
    </p>
    <p>
        W finale wszystko układało się po myśli Andrzeja Piotrowskiego.
        Teresa Ciepła na swoim dystansie zrobiła przewagę nad Wilye White.
        Było to korzystne dla Ireny Kirszenstein biegnącej na drugiej zmianie.
        Kirszenstein i Górecka wykonały dobre przekazanie pałeczki.
        Na wirażu Helena Górecka prześcignęła Marilyn White.</p>
{#    </div>#}
    <div class="flex">

        <div class="item3 flex_item flex_item3 shadow_left">
            <div class="text">
                <p>Skład sztafety 4x100m razem z trenerem Andrzejem Piotrowskim</p>
{#                <p>Od lewej: Ewa Kłobukowska</p>#}
            </div>
        </div>
        <p class="flex_item"> Ostatnie sto metrów to zdecydowany popis Ewy Kłobukowskiej.
            Ta młoda i utalentowana 18-latka zostawia w tyle Edith McGuire i pierwsza przekracza linię mety.
            Tak o to Polki zdobywają złoty medal igrzysk olimpijskich w sztafecie 4x100 m.
            Osiągają czas 43.6 s, który stał się nowym rekordem świata!
            Na mecie Ewa Kłobukowska nie oddała już pałeczki organizatorom.
            Pobiegła od razu do trenera Andrzeja Piotrowskiego i to jemu przekazała złotą pałeczkę.
            Była to wspaniała chwila dla polskiego sportu. </p>

    </div>


{#    <p>Irena Szewińska na zawody do Tokio jechała jako debiutantka.#}
{#        Zapisuje się tam na kartach historii, ustanawiając rekord kraju w skoku w dal, rekord Europy w biegu na 200 metrów oraz rekord świata w sztafecie 4x100 metrów.#}
{#        Z Japonii wraca z dorobkiem 3 medali – dwa srebrne i jeden złoty. Od tamtej pory Irena znajduje się w czołowej liście zawodników. To wszystko osiąga w wieku 18lat.</p>#}
    <h2>Podsumowanie Igrzysk Olimpijskich w Tokio</h2>
    <p>Igrzyska Olimpijskie w Tokio obfitowały w wiele emocji.
        Dla Ireny Kirszenstein były to pierwsze tak duże zawody w jej karierze.
        Nie dała się zjeść debiutanckiej tremie i zaprezentowała świetne występy.
        Ustanowiła rekord kraju w skoku w dal, rekord Europy w biegu na 200 m oraz rekord świata w sztafecie 4x100 m.
    </p>
    <p>Irena Kirszenstein zapisała się na kartach historii.
        Japonia stała się dla niej szczęśliwym miejscem.
        Wraca z dorobkiem 3 medali olimpijskich – jeden złoty i dwa srebrne.
        Od tamtej pory znajduje się w czołowej liście zawodników. Wszystko to osiąga w wieku 18 lat.
    </p>
    <p class="text_results"> Wyniki finałowego skoku w dal:</p>
    <div class="bgimage_result">
        <div class="bgi">
    <div class="containter_results">
        <div class="flex_containter_result">
            <i class="fas fa-medal"></i>
            <p class="name">Mary Rand(Wielka Brytania)</p>
            <p class="result"> 6,76 m</p>
        </div>
        <div class="flex_containter_result">
            <i class="fas fa-medal"></i>
            <p class="name"><strong>Irena</strong>
            <strong>Kirszenstein</strong></p>
            <p class="result"><strong>6,60 m</strong></p>
        </div>
        <div class="flex_containter_result">
            <i class="fas fa-medal"></i>
            <p class="name">Tatiana
            Szczełkanowa(Rosja)</p>
            <p class="result"> 6,42 m</p>
        </div>
    </div>
{#    </div>#}
{#    </div>#}
{#    <h3>Bieg na 200 metrów</h3>#}
{#    <p>Eliminacje do finałowej serii Irena przebiegła z wielkim spokojem. Na ostatnich 100metrach wyraźnie zostawiła swoje rywalki w tyle, kończać bieg z czasem 23.8.#}
{#        W serii półfinałowej uzyskuje czas 23.6 i przybiega na metę jako druga. W finale Irena próbuje dogonić świetnie finiszującą Amerykankę Edith McGuire.#}
{#        Wbiega na metę tuż za nią razem z Australijką Marilyn Black. Sędziowie jednak uznają, że szybsza była Polka. Irena zdobywa więc swój drugi igrzysk olimpijskich w Tokio.</p>#}
{#    <p>Nieoficjalne wyniki pomiarowe zostają ujawnione dopiero po latach. Tak reprezentowało się ówczesne podium:</p>#}
{#    <div class="bgimage_result">#}
{#        <div class="bgi">#}
            <p class="text_results">Wyniki finałowego biegu na 200 metrów:</p>
            <div class="containter_results">
                <div class="flex_containter_result">
                    <i class="fas fa-medal"></i>
                    <p class="name">Edith McGuire(USA)</p>
                    <p class="result"> 23.05 s</p>
                </div>
                <div class="flex_containter_result">
                    <i class="fas fa-medal"></i>
                    <p class="name"><strong>Irena</strong>
                        <strong>Kirszenstein</strong></p>
                    <p class="result"><strong>23.13 s</strong></p>
                </div>
                <div class="flex_containter_result">
                    <i class="fas fa-medal"></i>
                    <p class="name">Marilyn Black(Austrailia)</p>
                    <p class="result">23.28 s</p>
                </div>
            </div>
{#        </div>#}
{#    </div>#}

{#    <div class="bgimage_result">#}
{#        <div class="bgi">#}
            <p class="text_results">Wyniki finałowej sztafety 4x100 metrów:</p>
            <div class="containter_results">
                <div class="flex_containter_result">
                    <i class="fas fa-medal"></i>
                    <p class="name"><strong>Polska</strong></p>
                    <p class="result"><strong>43.69 s</strong></p>
                </div>
                <div class="flex_containter_result">
                    <i class="fas fa-medal"></i>
                    <p class="name">USA</p>
                    <p class="result">43.92 s</p>
                </div>
                <div class="flex_containter_result">
                    <i class="fas fa-medal"></i>
                    <p class="name">Wielka Brytania</p>
                    <p class="result">44.09 s</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}