{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/career.css') }}">
{% endblock %}

{% block body %}
<div class="wrapper">
<h1>Początek kariery</h1>
    <h2>Pierwsze sportowe kroki</h2>
    <div class="flex">

    <div class="item flex_item shadow_right">
        <div class="text">

        <p>Irena Szewisnka podczas biegu na 200m.</p>
        </div>
{#        <img src="{{ asset('images/achieve_Easy-Resize.com.jpg') }}" alt="">#}
    </div>
<p class="flex_item">Preferencje lekkoatletyczne Ireny Szewinskiej (wtedy jeszcze Kirszenstein) zostały zauważone dopiero w liceum.
    Talent do tej dyscypliny zauwazyla u Ireny jej szkolna wf-istka - pani Liliana Bucholz-Onufrowicz.
    Pierwsze zawody Ireny odbyly się w parku Agrykola (uzupelnic miejsce). Wziela tam udział w az pieciu konkurencjach; był to bieg na 60m, skok wzwyż, skok w dal,
    pchniecie kula oraz rzut dyskiem. Po tych zawodach wf-istka Ireny skierowala ja na treningi do klubu Polonia Warszawa.
    I tak pierwszym trenerem przyszłej wielokrotnej rekordzistki swiata stal się Jan Kopyta.
    Pierwszy sukces przyszedł wraz z zawodami na stadionie Gwardii. Była to inauguracja sezonu lekkoatletycznego w 1961 roku.
</p> </div>
    <p>Do pierwszego miejsca w konkurencji skoku wzwyż wystarczyl skok na 1,50m.
    Tak skomentowala po latach ten wynik Irena Szewinska: ,,Półtora metra to dzisiaj również smieszna wysokość, nawet dla juniorki.
    Nie można jednak zapominać, ze w owym czasie lekkoatletyka nie była jeszcze tak rozwinieta jak obecnie.”
{#    </p>#}
{#    </div>#}
{#    <p>#}
        Irena (do zmiany) skakala wtedy jeszcze stylem nożycowym.
    Technika ta polegala na pokonaniu poprzeczki (do uzuoelnienie z prezentacji).
    Styl jaki mamy dzisiaj obecnie – flop – pojawil się dopiero na igrzyskach olimpijskich w Meksyku (uzuepknic rok).
    Irena wygrala tam bieg na 200m oraz zajela trzecie miejsce na dystansie 100m.</p>
    <p>Irena Szewinska brala udział również w czwartkach lekkoatletycznych. Ustanowila na nim rekord młodziczek w skoku wzwyż – 1,565m.
    Do pierwszych sukcesow Ireny pod wodza Jana Kopyty należy rekord Polski młodziczek w skoku wzwyż (1,58m) skoku w dal (5,73m) oraz na 100metrow(11.9s).
    Był wiec to spory dorobek, jak na zawodniczke, która dopiero zaczynala swoja przygodę z ta dyscyplina. Irena była niekwestionowanym talentem.
    </p>
    <p>Drugim trenerem Ireny stal się doświadczony (uzupelnic) Andrzej Piotrowski.
        To pod jego nadzorem Irena osiagnela poziom swiatowy w konkurencjach sprinterskich.
        Trafila wtedy do warszawskiej grupy szybkobiegaczek kadry narodowej, w której trenowala miedzy innymi Ewa Klobukowska.
        To z nia Irena nawiazala trwałą nić przyjazni, a w późniejszym czasie stworzyła niezapomniany duet, który został zapamiętany jako K-K.
    </p>

<h2>Niesamowity debiut - Tokio - 1964</h2>
    <p>Irena zadebiutowała w 1964 roku już jako seniorka na igrzyskach olimpijskich w Tokio.
        Miała wtedy 18lat. Był to dla niej również czas matury, a także egzaminów na studia.
        Pomimo tylu obowiązków Irena uczęszczała na każdy trening prowadzony przez Andrzeja Piotrowskiego,
        aby dobrze przygotować się do dotychczas jej najważniejszego występu w karierze.
        Na swoich pierwszych igrzyskach olimpijskich Irena wzięła udział w konkurencjach, takich jak: skok w dal, bieg na 200 metrów oraz sztafeta 4x100 metrów.
    </p>
    <h3>Skok w dal</h3>
    <p>Utalentowana lekkoatletka, jako pierwsza spośród kadry Polski, rozpoczęła rywalizację na igrzyskach.
        Jej inauguracyjną konkurencją był skok w dal. Zarówno trener jak i Irena spodziewali się co najwyżej miejsca w pierwszej szóstce. Byłby to i tak wspaniały wynik.
{#    </p>#}
{#    <p>#}
        Finał skoku w dal, jak i każdej konkurencji lekkoatletycznej, poprzedzają tzw. eliminacje.
        Odbyły się one na mokrym rozbiegu, przy wietrznej pogodzie.
        W pierwszej próbie Irena Kirszenstein skacze „zaledwie” na odległość 5,80m. Odległość zapewniająca finał wynosiła wtedy 6,00m.
        W drugiej próbie zawodniczka skacze już na wysokość 6,43m.
        Pobiła wtedy własny rekord kraju. Dalej od niej skacze tylko Brytyjka Mary Bignal-Rand (6,52 m) oraz Niemka Helga Hoffmann (6,44 m).
        Irena kwalifikuje się wiec jako trzecia.
{#    </p>#}
{#    <p>#}
        Z racji tego, że minimum finałowe osiągnęło zbyt mało zawodniczek, organizatorzy zdecydowali się na wystąpienie aż 18zawodniczek w serii finałowej.
        Trwał on przez to blisko ponad 2 godziny przy wysokiej temperaturze. Na szczęście Irena w seriach finałowych na dobre się rozskakała.
        Uzyskuje ona kolejno 5,68 – 6,43 – 6,56 – 6,03m. W piątej próbie ustanawia rekord Polski skacząc na 6,60metrów!
        Szósty skok zostaje unieważniony – Irena minimalnie przekracza linię odbijającą. Wynosił on wtedy 6 metrów 80 centymetrów.
        Polska reprezentantka ostatecznie zajmuje drugie miejsce. Jest to jej olbrzymi sukces -zdobywa srebrny medal mistrzostw olimpijskich.
        Nie mogła wymarzyć sobie lepszego rozpoczęcia tych wielkich zawodów.
    </p>
    <h3>Bieg na 200 metrów</h3>
    <div class="flex">

        <div class="item2 flex_item shadow_right">
            <div class="text">
                <p>Finał 200m - Tokio 1964r</p>
            </div>
{#            <div class="text2">#}
{#                <p>Irena Szewisnka podczas biegu na 200m.</p>#}
{#            </div>#}
{#                    <img src="{{ asset('images/achieve_Easy-Resize.com.jpg') }}" alt="">#}
        </div>

    <p class="flex_item">Eliminacje do finałowej serii Irena przebiegła z wielkim spokojem. Na ostatnich 100metrach wyraźnie zostawiła swoje rywalki w tyle, kończąc bieg z czasem 23.8.
        W serii półfinałowej uzyskuje czas 23.6 i przybiega na metę jako druga. W finale Irena próbuje dogonić świetnie finiszującą Amerykankę Edith McGuire.
        Wbiega na metę tuż za nią razem z Australijką Marilyn Black. Trwa rozstrzygnięcie drugiego miejsca.
        Sędziowie uznają, że szybsza była Polka. Irena zdobywa więc swój drugi medal igrzysk olimpijskich w Tokio.</p>

    </div>
    <h3>Sztafeta 4x100 metrów</h3>
{#    <div class="flex">#}

{#    <div class="item3 flex_item">#}
{#    </div>#}
    <p>Półfinałowy bieg sztafetowy pokazał, że Polski mają realne szanse wyprzedzić w finale drużynę Amerykanek, która była pretendentem do złotego medalu.
        Drużyna Polek w składzie: Teresa Ciepła, Irena Kirszenstein, Halina Górecka i Ewa Kłobukowska, uzyskała w biegu półfinałowym w swojej serii czas 44.6s.
        Amerykanki przybiegły z czasem 44.8s. W finale wszystko układało się po myśli Andrzeja Piotrowskiego.
        Ciepła w swojej części bez problemu zrobiła przewagę nad Willye White co było korzystne dla Ireny, biegnącej na drugiej zmianie.
        Wykonała dobrą zmianę z Górecką, która na wirażu prześcignęła Marilyn White.</p>
{#    </div>#}
    <div class="flex">

        <div class="item3 flex_item flex_item3 shadow_left">
            <div class="text">
                <p>Skład sztafety 4x100m razem z trenerem Andrzejem Piotrowskim</p>
{#                <p>Od lewej: Ewa Kłobukowska</p>#}
            </div>
        </div>
        <p class="flex_item"> Zwieńczeniem pięknego biegu w wykonaniu Polek było ostatnie sto metrów w wykonaniu Ewy Kłobukowskiej.
        Ta młoda i również utalentowana 18-latka zostawia w tyle Edith McGuire i tak oto Polki zdobywają złoty medal mistrzostw olimpijskich w biegu sztafetowym 4x100metrów.
        Podany wtedy wynik 43.6s był wtedy również nowym rekordem świata! Ewa Kłobukowska na mecie nie oddała już pałeczki organizatorom, ale przekazała trenerowi Andrzejowi Piotrowskiemu.
        Była to wspaniała chwila dla polskiego sprintu. </p>

    </div>


{#    <p>Irena Szewińska na zawody do Tokio jechała jako debiutantka.#}
{#        Zapisuje się tam na kartach historii, ustanawiając rekord kraju w skoku w dal, rekord Europy w biegu na 200 metrów oraz rekord świata w sztafecie 4x100 metrów.#}
{#        Z Japonii wraca z dorobkiem 3 medali – dwa srebrne i jeden złoty. Od tamtej pory Irena znajduje się w czołowej liście zawodników. To wszystko osiąga w wieku 18lat.</p>#}
    <h2>Podsumowanie Igrzysk Olimpijskich w Tokio</h2>
    <p>Irena Szewińska na zawody do Tokio jechała jako debiutantka.
        Zapisuje się tam na kartach historii, ustanawiając rekord kraju w skoku w dal, rekord Europy w biegu na 200 metrów oraz rekord świata w sztafecie 4x100 metrów.
        Z Japonii wraca z dorobkiem 3 medali – dwa srebrne i jeden złoty. Od tamtej pory Irena znajduje się w czołowej liście zawodników. To wszystko osiąga w wieku 18lat.</p>
    <p class="text_results"> Wyniki finałowego skoku w dal:</p>
    <div class="bgimage_result">
        <div class="bgi">
    <div class="containter_results">
        <div class="flex_containter_result">
            <i class="fas fa-medal"></i>
            <p class="name">Mary Rand(Wielka Brytania)</p>
            <p class="result"> 6,76m</p>
        </div>
        <div class="flex_containter_result">
            <i class="fas fa-medal"></i>
            <p class="name"><strong>Irena</strong>
            <strong>Kirszenstein</strong></p>
            <p class="result"><strong>6,60m</strong></p>
        </div>
        <div class="flex_containter_result">
            <i class="fas fa-medal"></i>
            <p class="name">Tatiana
            Szczełkanowa(Rosja)</p>
            <p class="result"> 6,42m</p>
        </div>
    </div>
{#    </div>#}
{#    </div>#}
{#    <h3>Bieg na 200 metrów</h3>#}
{#    <p>Eliminacje do finałowej serii Irena przebiegła z wielkim spokojem. Na ostatnich 100metrach wyraźnie zostawiła swoje rywalki w tyle, kończać bieg z czasem 23.8.#}
{#        W serii półfinałowej uzyskuje czas 23.6 i przybiega na metę jako druga. W finale Irena próbuje dogonić świetnie finiszującą Amerykankę Edith McGuire.#}
{#        Wbiega na metę tuż za nią razem z Australijką Marilyn Black. Sędziowie jednak uznają, że szybsza była Polka. Irena zdobywa więc swój drugi igrzysk olimpijskich w Tokio.</p>#}
{#    <p>Nieoficjalne wyniki pomiarowe zostają ujawnione dopiero po latach. Tak reprezentowało się ówczesne podium:</p>#}
{#    <div class="bgimage_result">#}
{#        <div class="bgi">#}
            <p class="text_results">Wyniki finałowego biegu na 200 metrów:</p>
            <div class="containter_results">
                <div class="flex_containter_result">
                    <i class="fas fa-medal"></i>
                    <p class="name">Edith McGuire(USA)</p>
                    <p class="result"> 23.05s</p>
                </div>
                <div class="flex_containter_result">
                    <i class="fas fa-medal"></i>
                    <p class="name"><strong>Irena</strong>
                        <strong>Kirszenstein</strong></p>
                    <p class="result"><strong>23.13s</strong></p>
                </div>
                <div class="flex_containter_result">
                    <i class="fas fa-medal"></i>
                    <p class="name">Marilyn Black(Austrailia)</p>
                    <p class="result">23.28s</p>
                </div>
            </div>
{#        </div>#}
{#    </div>#}

{#    <div class="bgimage_result">#}
{#        <div class="bgi">#}
            <p class="text_results">Wyniki finałowej sztafety 4x100 metrów:</p>
            <div class="containter_results">
                <div class="flex_containter_result">
                    <i class="fas fa-medal"></i>
                    <p class="name"><strong>Polska</strong></p>
                    <p class="result"><strong>43.69s</strong></p>
                </div>
                <div class="flex_containter_result">
                    <i class="fas fa-medal"></i>
                    <p class="name">USA</p>
                    <p class="result">43.92s</p>
                </div>
                <div class="flex_containter_result">
                    <i class="fas fa-medal"></i>
                    <p class="name">Wielka Brytania</p>
                    <p class="result">44.09s</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}