{% extends 'base.html.twig' %}
{% block body %}
<div class="wrapper">
<h1>Ciekawostki</h1>
    <h2>Mityng w Cagliari</h2>
    <p>Irena Szewińska była o krok od spóźnienia się na swój bieg na 100m. Z początku polskiej ekipie zepsuł się samochód.
        W następstwie Irena późno dojechała do swojego hotelu ulokowanego w samym centrum. Posiłek udało jej się zjeść dopiero o 20:00 – godzinę przed startem.
        Po posiłku Irena miała zostać zawieziona na stadion, ale nikt z organizatorów zawodów ostatecznie po nią nie przyjechał. Uratowała ją wtedy wielka rozpoznawalność.
        Na stadion zawieźli ją jej kibice, którzy zauważyli Irenę pod hotelem. Taka sytuacja w dzisiejszych czasach byłaby niedopuszczalna.
        Wybuchła wtedy o to awantura wśród gospodarzy, dlaczego transport nie został zorganizowany. Ostatecznie Irena przybyła na stadion zaledwie pół godziny przed startem.
        O mały włos nie oglądała by biegu z trybun.
    </p>

    <h2>Crystal Palace</h2>
    <p>Zawody lekkoatletyczne cieszyły się dużo popularnością w czasach, w których Irena Szewińska była czynną zawodniczką.
        Liczne tłumy zagościły w Londynie na stadionie Crystal Palace. Bilet na zawody kosztował wtedy jednego funta.
        Nie dla wszystkich starczyło miejsc – runął drewniany parkan pod naporem ludzi, dla których tych miejsc zabrakło.
        To pokazało wagę lekkoatletyki wśród pozostałych sportów.
    </p>

    <h2>Kradzież torby z medalami</h2>
    <p>Z dosyć przykrą sytuacją Irena spotkała się po Mistrzostwach Europy w Rzymie. Została skradziona jej torba, która zawierała proporczyki, medale ME.
        Nie było czasu na poszukiwania, Irena zostawiła tylko informację o kradzieży. Poszukiwania były jednak bezskuteczne.
        Irenie pozostały więc wspomnienia, ale były to przecież najpiękniejsze wspomnienia.
    </p>

    <h2>Zawody na trawie</h2>
    <p>Mityng w Sydney cieszył się dużą popularnością. Na stadion przybyło wtedy 20 tysięcy kibiców.
        Organizatorzy musieli opóźniać rozpoczęcie zawodów, nie byli przygotowani na tak liczne zawody, a każdy musiał zająć miejsce.
        Jednak zaskoczenie samych organizatorów zawodów nie było tu największym zaskoczeniem.
        Konkurencje sprinterskie zostały rozegrane na trawiastym boisku, a bieg na 100 metrów został zorganizowany na… samym jego środku.
        Irenie pierwszy raz przyszło biegnąć tę konkurencję na trawiastym podłożu.
        Dzisiaj trudno jest sobię wyobrazić sytuację, w której trawiaste boiska zastępują wysokojakościową nawierzchnię,
        przystosowaną pod spirtnerskie „kolce” (specjalne buty sportowe).
    </p>

    <h2>Pistolet startowy czy karabin</h2>
    <p>Ówczesne zawody w Nelson były dosyć nietypowe. „Reżyserem” tego mityngu, był kontuzjowany Roda Dixon – Nelson to jego rodzinne miasto.
        Nie mógł on biegać, więc zajął się organizacją zawodów. Przeprowadzał on wywiady „na gorąco” z zawodnikami, zaraz po tym, jak kończyli oni swoje konkurencje.
        Spodobało się to publiczności. Było jednak widać, że Nelson dawno nie organizowało zawodów lekkoatletycznych.
        Irena Szewińska znów biegła po trawie, a starter zamiast specjalnego pistoletu startowego, strzelał z potężnego karabinu.
    </p>

    <h2>Odważny talent</h2>
    <p>Irena w wieku 16-lat dołączyła do grupy trenera Andrzeja Piotrowskiego. Była ona kandydatką do sztafety 4x100 metrów.
        W grupie były dużo starsze od niej sportsmenki, między innymi (do uzupełnienia).
        Mimo to Irena od razu stawiała warunki. Zakomunikowała, że przebiegnie sztafetę, jeśli będzie biec na ostatniej zmianie.
        Zawodniczce na ostatniej zmianie pozostaje dobiegnięcie do mety – nie musi ona przekazywać pałeczki, tak jak to ma miejsce na wcześniejszych zmianach.
        Okazało się, że żądanie młodej Ireny Kirszenstein było uzasadnione. Miała ona wadę wzroku i trudno było jej startować na zmianach wymagających przekazania pałeczki.
    </p>












</div>
{% endblock %}