{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/duet.css') }}">
{% endblock %}

{% block body %}
    <div class="wrapper">
        <h1>Irena Szewińska i Ewa Kłobukowska</h1>
        <div class="img_container">
            <img src="{{ asset('images/irena-szewinska-z-ewa-klobukowska.jpg') }}" alt="">
        </div>
        <p class="source">Autor: Janusz Szewiński</p>
        <h2>Duet K-K</h2>
        <p>Irena Szewińska trafiła do grupy Andrzeja Piotrowskiego, mając 18 lat(?).
            Rok wcześniej pzygode z lekkoatletyką rozpoczęła Ewa Kłobukowska.
            Te dwie równie młode i utalentowane sprinterki stworzyły ze sobą zgrany duet.
            Na zawodach toczyły zaciekłe pojedynki, rywalizując ze sobą na dystansach 100 i 200 metrów.
            Rywalizacja w sporcie to bardzo ważny etap, który pozwala na doskonalenie swoich umiejętności.
            Tak też było w przypadku duetu K-K. Jedna napędzała drugą, biły wzajemne rekordy, jednocześnie motywując siebie nawzajem.
            Były też bardzo mocnym punktem sztafety 4x100metrów. Poza zawodami łączyła je silna przyjacielska więź.
            Ich przyjaźń pogłębiła się jeszcze bardziej, kiedy dostały kawalerki w tym samym bloku na ulicy Bagno.
            Mogły więc spędzać czas nie tylko na treningach, ale także dzielić ze sobą życie towarzyskie.
        </p>

        <h2>Dwie rekordzistki świata</h2>
        <p>Pokaz siły i przysłowiowego wiatru w nogach odbył się podczas Memoriału Evzena Rosickiego w Pradze.
            W biegu finałowym na 100 metrów Irena Kirszenstein i Ewa Kłobukowska biegły na sąsiadujących torach.
            Był to szalony bieg. Z początku na prowadzenie wysunęła się Ewa Kłobukowska.
            Miała ona znacznie lepsze wyjście z bloków.
            Irena jednak szybko zdołała ją doścignąć i do mety biegły niemalże obok siebie.
            Widowni trudno było rozstrzygnąć, która z zawodniczek wpadła na metę jako pierwsza.
            Nie było wtedy jeszcze profesjonalnych pomiarów czasowych. Wyniki mierzyło się ręcznie za pomocą stopera.
            Obie zawodniczki uzyskały czas 11.1s i stały się rekordzistkami świata! Sędziowie ostatecznie przyznali zwycięstwo Ewie Kłobukowskiej.
            Tak narodził się popularny duet K-K. Litery pochodzą od nazwisk tych dwóch 19 latek, które wtedy ustanowiły rekord świata w biegu na 100 metrów.
        </p>

        <h2>Wszyscy na stadion!</h2>
        <p>Fenomenem duetu K-K była bardzo duża popularność. Każdy chciał zobaczyć dominację tych dwóch młodych lekkoatletek.
            Na Mistrzostwa Europy w Budapeszcie ludzie szturmowali loty, zjeżdżali się z przeróżnych miast, skracali swoje wakacyjne urlopy.
            Wszystko po to, aby zobaczyć kolejny triumf Ireny i Ewy. Był to po prostu szał.
            Każdy chciał na żywo obserwować karierę tych dwóch świetnych lekkoatletek, tak jak później wszyscy jeździli do Planicy,
            aby wspierać polskiego skoczka – Adama Małysza. Była to zupełna dominacja „gwiazd” Andrzeja Piotrowskiego.
            Dziewczyny osiągały na przemian indywidualne sukcesy w swoich dominujących konkurencjach.
            Po znakomitym finiszu Ewy Kłobukowskiej w biegu sztafetowym 4x 100 metrów rozległo się huczne „Sto lat sto lat”.
            Cały blisko 70-tysięczny stadion w Budapeszcie gratulował sukcesów polskiemu duetowi K-K.
        </p>

        <p>Sezon 1967 to dalszy ciąg sukcesów dwóch bohaterek z Budapesztu.
            Irena wyrównuje swój rekord świata na 200 metrów (22.7s) w rywalizacji pomiędzy Polską a ZSRR.
            Ewa natomiast poprawia na tym dystansie rekord życiowy (22.9s).
            W sztafecie 4x100 metrów Polski osiągają czas 44.0s, zostawiając reprezentantki Rosji daleko w tyle.
            W kolejnym meczu międzypaństwowym między Polską a Wielką  Brytanią Irena i Ewa również dominują.
            Do Polek należy zwycięstwo w biegu na 100, 200 i 4x100 metrów.
            Duet K-K przynosi niesamowite emocje wraz z każdym biegiem. Dziewczyny dostają nieocenione wsparcie i doping od wszystkich kibiców.
            Były to niezapomniane czasy świetności tych dwóch młodych lekkoatletek.
        </p>




    </div>
{% endblock %}