{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('css/duet.css') }}">
{% endblock %}

{% block body %}
    <div class="wrapper">
        <h1>Irena Szewińska i Ewa Kłobukowska</h1>
        <div class="img_container">
            <img src="{{ asset('images/irena-szewinska-z-ewa-klobukowska.jpg') }}" alt="">
        </div>
        <p class="source">Autor: Janusz Szewiński</p>
        <h2>Duet K-K</h2>
        <p>Duet K-K tworzyły Irena Kirszenstein oraz Ewa Kłobukowska.
            Te dwie młode i utalentowane lekkoatletki trenowały razem w grupie Andrzeja Piotrowskiego.
            Toczyły między sobą zdrową rywalizację, napędzając się wzajemnie.
            Na przemian biły rekordy na dystansach sprinterskich. W życiu prywatnym łączyła je silna przyjaźń.
            Kiedy Irena Kirszenstein dołączała do grupy Andrzeja Piotrowskiego, trenująca tam od roku
            Ewa Kłobukowska szybko nawiązała z nią kontakt. Poza zawodami mogły spędzać ze sobą dużo czasu,
            mieszkały na tej samej kamienicy. Duet K-K był idealnym przykładem zdrowej rywalizacji na zawodach
            oraz prawdziwej przyjaźni w życiu prywatnym.
        </p>

        <h2>Dwie rekordzistki świata</h2>
        <p>Memoriał Evzena Rosickiego w Pradze to pokazał siły duetu K-K.
            Irena Kirszenstein oraz Ewa Kłobukowska ustanowiły tam rekord świata na 100 metrów… jednocześnie!</p>
        <p>W serii finałowej Irena Kirszenstein i Ewa Kłobukowska biegły na sąsiadujących torach.
            Kłobukowska miała mocne wyjście z bloków i to ona z początku wysunęła się na prowadzenie.
            Długi krok Kirszenstein pozwolił nadrobić utraconą odległość na starcie i od tamtej pory obie lekkoatletki biegły ramie w ramie.
            Widowni trudno było rozstrzygnąć, która z zawodniczek przekroczyła metę jako pierwsza. Na stadionie zawrzało. </p>
        <p>
            W czasach, kiedy odbywał się Memoriał, nie było jeszcze profesjonalnych pomiarów czasowych.
            Wyniki mierzyło się za pomocą stopera. Kirszenstein i Kłobukowska ujrzały swój czas – 11.1 s.
            Był to nowy rekord świata na dystansie 100 m. Sędziowie ostatecznie przyznali zwycięstwo Ewie Kłobukowskiej.
            Te zawody zapoczątkowały wspaniałe osiągnięcia duetu K-K, w który skład wchodziły rekordzistki świata na 100 m.
        </p>

        <h2>Wszyscy na stadion!</h2>
        <p>
            Duet K-K stał się bardzo popularny. Każdy chciał zobaczyć dominację tych dwóch młodych lekkoatletek.
            Świadczyły o tym np. Mistrzostwa Europy w Budapeszcie w 1966 r.
            Polski dziennikarz sportowy Maciej Petruczenko porównał fenomen duetu K-K do popularności Adama Małysza.
            Wszyscy w tamtych czasach chcieli zobaczyć dominację Kirszenstein i Kłobukowskiej, tak jak wszyscy lecieli do Planicy,
            aby zobaczyć skoki Małysza.
        </p>
        <p>
            Na Mistrzostwa Europy w Budapeszcie ludzie zjeżdżali się z przeróżnych części krajów,
            skracali swoje wakacyjne urlopy. Wszystko po to, aby wspierać duet K-K.
            Kiedy Ewa Kłobukowska wpadła na metę po znakomitym finiszu w sztafecie 4x100m,
            na blisko 70 tysięcznym stadionie rozległo się huczne ,,Sto lat, sto lat”.
            Wszyscy gratulowali sukcesów polskiemu duetowi K-K.
        </p>
        <p>
            Sezon lekkoatletyczny w 1967 r to dalszy ciąg sukcesów dwóch bohaterek z Budapesztu.
        W meczu międzypaństwowym pomiędzy Polską a ZSRR Irena wyrównała swój rekord świata na 200 metrów – 22.7 s.
        Ewa natomiast na tym dystansie poprawia swój rekord życiowy – 22.9 s.
        Sztafeta 4x100 m osiąga czas 44.0 s, zostawiając reprezentantki Rosji daleko w tyle. </p>
        <p>
        <p>
            Mecz międzypaństwowy pomiędzy Polską a Wielką Brytanią to również dominacja Polski.
            Zwyciężamy w biegu na 100 m, 200 m oraz 4x100 m. Duet K-K przynosi niesamowite emocje wraz z każdym biegiem.
            Dziewczyny dostają nieocenione wsparcie i doping wszystkich kibiców.
            Były to niezapomniane czasy szczytowej formy tych dwóch młodych lekkoatletek.
        </p>





    </div>
{% endblock %}