h1 {
    text-align: center;
    padding-bottom: 20px;

}

p {
    font-size: 18px
}

p.source {
    font-size: 15px;
    font-style: italic;
    /*text-align: right;*/
}

p.about_competition {
    padding: 20px 0;
}

p.text_result {
    font-weight: bold;
    padding-bottom: 15px;
}

strong {
    color: firebrick;
}

@media(max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 16px;
    }

    .flex_container_result * {
        font-size: 18px;
    }
}

@media(max-width: 600px) {
    .container_img {
        height: 35vh;
    }

    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 14px;
    }

    p.source {
        font-size: 12px;
    }

    .flex_container_result * {
        font-size: 16px;
    }
}

@media(max-width: 411px) {
    .container_img {
        height: 30vh;
    }

    p.text_results {
        text-align: center;
    }

    .flex_container_result * {
        font-size: 14px;
    }

    .container_results {
        padding-bottom: 30px;
    }
}

@media(max-width: 320px) {
    h1 {
        font-size: 1.2rem;
    }

    p.text_result {
        padding-bottom: 5px;
        text-align: center;
    }

    p.about_competition {
        padding: 5px 0;
    }

    .container_img img {
       top: 30%;
    }

    .flex_container_result * {
        font-size: 12px;
    }
}